<p-confirmDialog></p-confirmDialog>

<p-dialog header="Novo Funcionário" [modal]="true" [(visible)]="newFuncionarioVisible" [style]="{ width: '50rem'}" [closable]="false">
    <form [formGroup]="newFuncionarioForm" autocomplete="off" class="w-full">
        <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 after:ml-0.5 after:text-red-600 after:content-['*']" >E-mail</label>
        <input autocomplete="new-email" pInputText fluid="true" id="email1" type="email" placeholder="Insira o e-mail" class="w-full md:w-120 mb-2" formControlName="email" />
        @if (newFuncionarioForm.controls.email.touched && newFuncionarioForm.controls.email.invalid) {
            <p-message severity="error" size="small" variant="simple">Informe um email válido.</p-message>
        }

        <label for="nome" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Nome</label>
        <input pInputText autocomplete="off" fluid="true" id="text" placeholder="Insira o nome" class="w-full md:w-120 mb-2" formControlName="nome" />
        @if (newFuncionarioForm.controls.nome.touched && newFuncionarioForm.controls.nome.invalid) {
            <p-message severity="error" size="small" variant="simple">Informe seu nome.</p-message>
        }

        <label for="senha" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Senha</label>
        <input pInputText id="senha" autocomplete="new-password" fluid="true" type="password" placeholder="Insira a senha" class="w-full md:w-120 mb-2" formControlName="senha" />
        @if (newFuncionarioForm.controls.senha.touched && newFuncionarioForm.controls.senha.invalid) {
            <p-message severity="error" size="small" variant="simple">A senha deve ter entre 4 e 100 caracteres.</p-message>
        }

        <label for="dataNascimento" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Data de Nascimento</label>
        <input pInputText autocomplete="off" fluid="true" id="dataNascimento" type="date" placeholder="Insira a data de nascimento" class="w-full md:w-120 mb-2" formControlName="dataNascimento" />
        @if (newFuncionarioForm.controls.dataNascimento.touched && newFuncionarioForm.controls.dataNascimento.invalid) {
            <p-message severity="error" size="small" variant="simple">Informe uma data de nascimento válida.</p-message>
        }

        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancelar" severity="secondary" (click)="newFuncionarioVisible = false; this.newFuncionarioForm.reset()" />
            <p-button label="Criar" (click)="criarFuncionario()" [disabled]="newFuncionarioForm.invalid" />
        </div>
    </form>
</p-dialog>

<p-dialog header="Editar Funcionário" [modal]="true" [(visible)]="editarFuncionarioVisible" [style]="{ width: '50rem'}" [closable]="false">
    <form [formGroup]="editarFuncionarioForm" class="w-full">
        <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 after:ml-0.5 after:text-red-600 after:content-['*']" >E-mail</label>
        <input pInputText autocomplete="off" fluid="true" id="email1" type="email" placeholder="Insira o e-mail" class="w-full md:w-120 mb-2" formControlName="email" />
        @if (editarFuncionarioForm.controls.email.touched && editarFuncionarioForm.controls.email.invalid) {
            <p-message severity="error" size="small" variant="simple">Informe um email válido.</p-message>
        }

        <label for="nome" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Nome</label>
        <input pInputText autocomplete="off" fluid="true" id="text" placeholder="Insira o nome" class="w-full md:w-120 mb-2" formControlName="nome" />
        @if (editarFuncionarioForm.controls.nome.touched && editarFuncionarioForm.controls.nome.invalid) {
            <p-message severity="error" size="small" variant="simple">Informe seu nome.</p-message>
        }
        <div class="mt-4 mb-2">
        <label for="senha" class="block text-surface-900 dark:text-surface-0 text-xl font-medium" >Senha</label>
        <span class="text-sm text-surface-600 dark:text-surface-400">Deixe em branco para manter a senha atual.</span>
        </div>
        <input pInputText id="senha" autocomplete="off" fluid="true" type="password" placeholder="Insira a senha" class="w-full md:w-120 mb-2" formControlName="senha" />
        @if (editarFuncionarioForm.controls.senha.touched && editarFuncionarioForm.controls.senha.invalid) {
            <p-message severity="error" size="small" variant="simple">A senha deve ter entre 6 e 100 caracteres.</p-message>
        }

        <label for="dataNascimento" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Data de Nascimento</label>
        <input pInputText autocomplete="off" fluid="true" id="dataNascimento" type="date" placeholder="Insira a data de nascimento" class="w-full md:w-120 mb-2" formControlName="dataNascimento" />
        @if (editarFuncionarioForm.controls.dataNascimento.touched && editarFuncionarioForm.controls.dataNascimento.invalid) {
            <p-message severity="error" size="small" variant="simple">Informe uma data de nascimento válida.</p-message>
        }

        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancelar" severity="secondary" (click)="editarFuncionarioVisible = false; this.newFuncionarioForm.reset()" />
            <p-button label="Editar" (click)="editarFuncionario()" [disabled]="editarFuncionarioForm.invalid || editarFuncionarioForm.pristine" />
        </div>
    </form>
</p-dialog>

<div class="card">
    @if (!funcionarios) {
    <div class="flex flex-col gap-4 w-full">
        <div class="font-semibold text-xl mb-4">Gerenciar Funcionários</div>
        <p-skeleton width="100%" height="20rem"></p-skeleton>
    </div>
    } @else {
    <div class="font-semibold text-xl mb-4">Gerenciar Funcionários</div>
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Novo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="newFuncionarioVisible = true" />
            <p-button label="Editar" icon="pi pi-pencil" severity="secondary" outlined (onClick)="onEditar()"class="mr-2" [disabled]="!funcionariosSelecionados || funcionariosSelecionados.length != 1" />
            <p-button severity="secondary" label="Excluir" icon="pi pi-trash" outlined (onClick)="onExcluir()" [disabled]="!funcionariosSelecionados || !funcionariosSelecionados.length" />
        </ng-template>
    </p-toolbar>
    <p-table 
        [columns]="cols" 
        [value]="funcionarios" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [(selection)]="funcionariosSelecionados"
        rowHover="true"
        dataKey="id"
        tableLayout="auto" 
        size="large" >
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
            </th>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Data de Nascimento</th>
        </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
    <tr>
        <td style="width: 3rem">
            <p-tableCheckbox [value]="rowData" />
        </td>
        @for (col of columns; track col) {
            @if (col.header === 'Data de Nascimento') {
                <td>
                    {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                </td>
            }
            @else {
                <td>
                    {{ rowData[col.field] }}
                </td>
            }
        }
    </tr>
    </ng-template>
    </p-table>
    }
</div>