@if (!(request && cliente && funcionarios)) {
    <div class="card">
      <div class="flex flex-col gap-4 w-full">
        <p-skeleton width="40%" height="1.5rem" class="mb-4"></p-skeleton>
        <p-skeleton width="70%" height="3rem"></p-skeleton>
        <p-skeleton width="50%" height="1.5rem"></p-skeleton>
        <div class="flex justify-start items-center gap-5 mt-6">
            <p-skeleton width="20%" height="4rem"></p-skeleton>
            <p-skeleton width="20%" height="4rem"></p-skeleton>
        </div>
        <p-skeleton width="100%" height="10rem" class="mt-10"></p-skeleton>
        <p-skeleton width="40%" height="1.5rem" class="mt-8 mb-4"></p-skeleton>
      </div>
    </div>
} @else {
<p-dialog header="Redirecionar Manutenção" [modal]="true" [(visible)]="redirecionarDialogVisible" [style]="{ width: '50rem'}" [closable]="true">
        <form [formGroup]="redirecionarForm" class="w-full">
            <div [style]="{ height: '20rem'}">
                <label for="funcionarioDestino" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Funcionário Destino</label>
                <p-select class="w-full md:w-120 mb-2" fluid="true" formControlName="funcionarioDestino" [options]="funcionarios" optionLabel="nome" dataKey="id" optionValue="id"></p-select>
                @if (redirecionarForm.controls.funcionarioDestino.touched && redirecionarForm.controls.funcionarioDestino.invalid) {
                    <p-message severity="error" size="small" variant="simple">Selecione o funcionário</p-message>
                }
                <div class="flex justify-end gap-2">
                    <p-button label="Cancelar" severity="secondary" (click)="redirecionarDialogVisible = false; this.redirecionarForm.reset()" />
                    <p-button label="Redirecionar" (click)="onRedirecionar()"/>
                </div>
            </div>
        </form>
    </p-dialog>

    <p-dialog header="Realizar Manutenção" [modal]="true" [(visible)]="efetuarManutencaoDialogVisible" [style]="{ width: '50rem'}" [closable]="true">
        <form [formGroup]="manutencaoForm" class="w-full">
            <label for="descricaoManutencao" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Descrição da Manutenção</label>
            <textarea rows="3" pTextarea class="w-full md:w-120 mb-2" fluid=true [autoResize]="true" formControlName="descricaoManutencao"></textarea>
            @if (manutencaoForm.controls.descricaoManutencao.touched && manutencaoForm.controls.descricaoManutencao.invalid) {
                <p-message severity="error" size="small" variant="simple">Insira a descrição</p-message>
            }
            <label for="instrucoesCliente" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-4 after:ml-0.5 after:text-red-600 after:content-['*']" >Instruções para o Cliente</label>
            <textarea rows="3" pTextarea class="w-full md:w-120 mb-2" fluid=true [autoResize]="true" formControlName="instrucoesCliente"></textarea>
            @if (manutencaoForm.controls.instrucoesCliente.touched && manutencaoForm.controls.instrucoesCliente.invalid) {
                <p-message severity="error" size="small" variant="simple">Insira a instrução</p-message>
            }
            <div class="flex justify-end gap-2">
                <p-button label="Cancelar" severity="secondary" (click)="efetuarManutencaoDialogVisible = false; this.manutencaoForm.reset()" />
                <p-button label="Efetuar Manutenção" (click)="onEfetuar()"/>
            </div>
        </form>
    </p-dialog>

    <div class="card">
        <div class="flex align-items-center justify-content-between mb-4">
            <p-button label="Voltar" (onClick)="voltar()" icon="pi pi-arrow-left" variant="text" severity="secondary"></p-button>
        </div>
        <div class="font-semibold text-xl mb-6">Efetuar Manutenção</div>
        <div class="font-bold block text-5xl mb-4">{{ request.descEquipamento }}</div>
        <div class="block font-light text-xl mb-8">Solicitado em {{request.dataInicio | date:'dd/MM/yyyy'}} às {{request.dataInicio | date:'HH:mm:ss'}}   |   ID: {{ requestId }}</div>
        <div class="mb-12">
            <div class="text-xl font-semibold mb-2">Categoria</div>
            <div class="text-xl block">{{ request.categoriaEquipamento.nome }}</div>
        </div>
        <div class="mb-12">
            <div class="text-xl font-semibold mb-4">Descrição do Problema</div>
            <div class="block text-xl rounded-border border border-surface p-4">{{ request.descDefeito }}</div>
        </div>
        <div class="mb-12">
            <div class="text-xl font-semibold mb-4">Cliente</div>
            <div class="block text-xl rounded-border border border-surface p-4">
                <div class="mb-2">Nome: {{ cliente.nome }}</div>
                <div class="mb-2">Email: {{ cliente.email }}</div>
                <div class="mb-2">Telefone: {{ cliente.telefone }}</div>
                <div class="mb-2">Endereço: {{ cliente.endereco }}</div>
            </div>
        </div>
        <div class="flex justify-end gap-5">
            <p-button size="large" label="Redirecionar Manutenção" severity="secondary" (click)="redirecionarDialogVisible = true"/>
            <p-button size="large" label="Efetuar Manutenção" (click)="efetuarManutencaoDialogVisible = true"/>
        </div>
    </div>
}