<div class="card">
        @if (!requests) {
        <div class="font-semibold text-xl mb-4 mr-5">Visão Geral</div>
        <div class="flex justify-end items-center mb-8">
            <div class="flex gap-5">
                <p-iconfield iconPosition="left" class="mb-8">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" disabled="true" pSize="large" class="w-full md:w-100" placeholder="Insira uma palavra-chave para buscar" />
                </p-iconfield>
            </div>
        </div>
        <div class="flex justify-between mb-2 font-semibold">
            <p-skeleton width="5%" height="1.5rem"></p-skeleton>
            <p-skeleton width="25%" height="1.5rem"></p-skeleton>
            <p-skeleton width="30%" height="1.5rem"></p-skeleton>
            <p-skeleton width="20%" height="1.5rem"></p-skeleton>
            <p-skeleton width="15%" height="1.5rem"></p-skeleton>
        </div>

        <div class="flex flex-col gap-3 mt-6">
            @for (_ of [1,2,3,4,5,6,7,8]; track _) {
                <div class="flex justify-between items-center border border-surface p-3 rounded-md">
                    <p-skeleton width="5%" height="5rem"></p-skeleton>
                    <p-skeleton width="25%" height="5rem"></p-skeleton>
                    <p-skeleton width="30%" height="5rem"></p-skeleton>
                    <p-skeleton width="20%" height="5rem"></p-skeleton>
                    <p-skeleton width="15%" height="5rem"></p-skeleton>
                </div>
            }
        </div>
    }

    @else {
    <div class="font-semibold text-xl mb-12">Visão Geral</div>
    <div class="flex justify-between items-center mb-8">
        <p-tag icon="pi pi-info-circle" value="Solicitações Abertas" class="p-tag-aberta big-tag"/>
        <p-iconfield iconPosition="left">
            <p-inputicon>
                <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" pSize="large" class="w-full md:w-100" placeholder="Insira uma palavra-chave para buscar" />
        </p-iconfield>
    </div>
    <p-table 
            #dt1
            sortField="dataInicio" 
            [sortOrder]="1"
            [columns]="cols" 
            [value]="requests"
            [paginator]="true"
            [rows]="8"
            rowHover="true"
            tableLayout="auto" 
            size="large" 
            [tableStyle]="{ 'min-width': '50rem' }" 
            class="request-table">
            <ng-template #header let-columns>
                <tr class>
                    <th pSortableColumn="dataInicio" class="mt-20 mb-8">Data/Hora de Abertura <p-sortIcon field="dataInicio" /></th>
                    <th class="mt-20 mb-8">Descrição do Equipamento</th>
                    <th pSortableColumn="cliente" class="mt-20 mb-8">Cliente <p-sortIcon field="clienteNome" /></th>
                    <th class="mt-20 mb-8">Ação</th>
                </tr>
            </ng-template>
            <ng-template #body let-rowData let-columns="columns">
                <tr>
                    @for (col of columns; track col) {
                        @if (col.header === 'Status') {
                            <td>
                                <p-tag [icon]="requestService.getIcon(rowData[col.field])" [value]="rowData[col.field]" [class]="requestService.getTagClass(rowData[col.field])"/>
                            </td>
                        }

                        @else if (col.header === 'Data/Hora de Abertura') {
                            <td>
                                {{ rowData[col.field] | date:'dd/MM/yyyy HH:mm' }}
                            </td>
                        }

                        @else if (col.header === 'Cliente') {
                            <td>
                                {{ rowData.cliente.nome | truncate:30 }}
                            </td>
                        }

                        @else if (col.header === 'Ação') {
                            <td style="width: 15%">
                                <p-button label="Realizar Orçamento" icon="pi pi-file" (click)="router.navigate(['/funcionario/solicitacoes/', rowData.id, 'orcamento'], { state: { fromList: true } })" styleClass="p-button-text"></p-button>
                            </td>
                        }

                        @else {
                        <td>
                            {{ rowData[col.field] | truncate:30 }}
                        </td>
                        }
                    }
                </tr>
            </ng-template>
        </p-table>
    }
</div>